VITE_APP_NAME=Rush Hour Survivor
VITE_DEVELOPER_NAME=AppStudioOn
VITE_SUPPORT_EMAIL=young02hwi@gmail.com
VITE_PRIVACY_POLICY_URL=YOUR_PRIVACY_POLICY_URL_HERE
VITE_PACKAGE_NAME=com.appstudioon.rushhoursurvivor
VITE_ADMOB_APP_ID_ANDROID=SAMPLE_ANDROID_ADMOB_APP_ID
VITE_ADMOB_BANNER_HOME=SAMPLE_ANDROID_BANNER_UNIT_ID
VITE_ADMOB_REWARDED_REVIVE=SAMPLE_ANDROID_REWARDED_UNIT_ID
VITE_IAP_COFFEE_PACK_ID=sample.coffee_pack
VITE_IAP_TAXI_PASS_ID=sample.taxi_pass
